// $font-family: -apple-system, BlinkMacSystemFont, 'Inter', 'Helvetica Neue', 'Segoe UI', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
$font-family: 'Inter';

$yellow-theme-100: #FFFAE6 !default;
$yellow-theme-200: #FFFAE6 !default;
$yellow-theme-300: #E8B810 !default;
$yellow-theme-400: #F0D003 !default;
$yellow-theme-500: #F0D003 !default;
$yellow-theme-600: #F0D003 !default;
$yellow-theme-700: #C0A02A !default;
$yellow-theme-800: #9C8B41 !default;
$yellow-theme-900: #494120 !default;
