// $font-family: -apple-system, BlinkMacSystemFont, 'Inter', 'Helvetica Neue', 'Segoe UI', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
$font-family: 'Inter';

$yellow-theme-100: #FFFAE6;
$yellow-theme-200: #FFFAE6;
$yellow-theme-300: #E8B810;
$yellow-theme-400: #F0D003;
$yellow-theme-500: #F0D003;
$yellow-theme-600: #F0D003;
$yellow-theme-700: #C0A02A;
$yellow-theme-800: #9C8B41;
$yellow-theme-900: #494120;


$secondary: #A3AED0;
$success: #33DB95;

$border-radius: 1.25rem;