@import 'constants';

@include color-mode(dark) {
  
  .text-light {
    color: $light-dark !important;
  }

  .text-light-white, .text-dark {
    color: $white !important;
  }

  .text-dark-primary {
    color: $primary;
  }
  
  .text-blue {
    color: $white;
  }

  .card, .list-group-item {
    background-color: $gray-920;
  }
  
  .fill-contrast,
  .fill-1 {
    fill: $gray-910;
  }

  .fill-primary, .fill-2 {
    fill: $primary;
  }

  .fill-strong-contrast {
    fill: $gray-920;
    stop-color: $gray-920;
  }

  .stroke-light {
    stroke: $light-dark;
  }

  .btn-link {
    &:hover, &:active {
      color: lighten($primary, 20%);
    }
  }

  .btn-rounded {
    color: $gray-920;
  }
  
  .dropdown {
    & a.dropdown-item {
      color: $white;
      &.active, &:active, &:focus, &:hover {
        color: $primary !important;
      }
      &.no-focus {
        &.active, &:active, &:focus, &:hover {
          color: $white !important;
        }
      }
    }
    & div.dropdown-item {
      color: $white;
    }
  }

  .input-group {
    & .form-control {
      &:focus {
        border-color: transparent;
      }
    }
  }

  .switch {
    border: 1px solid lighten($white, 20%);
  
    & .handle {
      background-color: $dark;
    }
  
    &:focus {
      box-shadow: 0 0 0 0.2rem rgba($white, 0.25);
    }

    &[data-isswitchon='true'] {
      border: 1px solid darken($success, 10%);
    }
 
  }  
} // CLOSE FOR DARK MODE
