@import 'constants';

@include color-mode(dark) {
  
  .text-light {
    color: $light-dark !important;
  }

  .text-light-white, .text-dark {
    color: $white !important;
  }

  .text-dark-primary {
    color: $primary;
  }
  
  .text-blue {
    color: $primary;
  }

  .card, .list-group-item {
    background-color: $gray-920;
  }
  
  .fill-contrast,
  .fill-1 {
    fill: $gray-910;
  }

  .fill-primary, .fill-2 {
    fill: $primary;
  }

  .fill-strong-contrast {
    fill: $gray-920;
    stop-color: $gray-920;
  }

  .stroke-light {
    stroke: $light-dark;
  }

  .btn-link {
    &:hover, &:active {
      color: lighten($primary, 20%);
    }
  }
  
  .dropdown {
    & a.dropdown-item {
      color: $white;
      &.active, &:active, &:focus, &:hover {
        color: $primary !important;
      }
      &.no-focus {
        &.active, &:active, &:focus, &:hover {
          color: $white !important;
        }
      }
    }
    & div.dropdown-item {
      color: $white;
    }
  }

  .input-group {
    & .form-control {
      &:focus {
        border-color: transparent;
      }
    }
  }
} // CLOSE FOR DARK MODE
