@import 'constants';

@include color-mode(dark) {
  
  .text-light {
    color: $light-dark !important;
  }

  .text-light-white, .text-dark, .text-contrast {
    color: $white !important;
  }

  .text-dark-primary {
    color: $primary;
  }
  
  .text-blue {
    color: $white;
  }

  .card {
    background-color: $card-bg-dark;
    box-shadow: none;
    &.bg-primary {
      color: $text-dark;
    }
  }
  
  .list-group-item, .dropdown-menu {
    background-color: $card-bg-dark;
    box-shadow: none;
  }
  
  .fill-contrast,
  .fill-1 {
    fill: $text-dark;
  }

  .fill-primary, .fill-2 {
    fill: $primary;
  }

  .fill-strong-contrast {
    fill: $card-bg-dark;
    stop-color: $card-bg-dark;
  }

  .fill-body-color {
    fill: $light-dark;
  }

  .stroke-bg, .stroke-primary-bg {
    stroke: $body-bg-dark;
  }

  .stroke-light {
    stroke: $light-dark;
  }

  .btn-link {
    &:hover, &:active {
      color: lighten($primary, 20%);
    }
  }

  .btn-rounded {
    &.btn.btn-primary, &.bg-primary {
      color: $card-bg-dark;
    }
  }
  
  .dropdown {
    & a.dropdown-item {
      color: $white;
      &.active, &:active, &:focus, &:hover {
        color: $primary !important;
      }
      &.no-focus {
        &.active, &:active, &:focus, &:hover {
          color: $white !important;
        }
      }
    }
    & div.dropdown-item {
      color: $white;
    }
  }

  .input-group {
    & .form-control {
      font-size: 14px;
      color: $light-dark;
      background-color: $form-ctrl-bg-dark;
      &:focus {
        border-color: transparent;
        box-shadow: none;
      }
    }
    & .form-control-middle {
      border-left: 0;
      padding-left: 0;
      border-right: 0;
      padding-right: 0;
    }
    & .form-control.form-control-left {
      cursor: pointer;
      border-right: 0;
      padding-right: 0;
    }
    & .form-control.form-control-right {
      border-left: 0;
      padding-left: 0;
    }
    & .form-control-addon {
      background-color: $form-ctrl-bg-dark;
      &.form-control-addon-disabled {
        background-color: $gray-200;
      }
      &:focus {
        border-color: transparent;
        box-shadow: none;
      }
      &.form-control-addon-right {
        cursor: pointer;
        border-left: 0;
        &:hover {
          svg path {
            stroke: darken($primary, 10%);
          }
        }
        & .btn-addon-close {
          &:hover {
            & path {
              fill: darken($primary, 10%);
            }
          }
        }
      }
      &.form-control-addon-left {
        border-right: 0;
      }
    }
    &.invalid {
      & .form-control {
        border-color: $danger;
        &:focus {
          border-color: $danger;
          box-shadow: none;
        }
      }
      & .form-control-addon {
        border-color: $danger;
        &:focus {
          border-color: $danger;
          box-shadow: none;
        }  
      }
    }
  }

  .switch {
    border: 1px solid lighten($white, 20%);
  
    & .handle {
      background-color: $dark;
    }
  
    &:focus {
      box-shadow: 0 0 0 0.2rem rgba($white, 0.25);
    }

    &[data-isswitchon='true'] {
      border: 1px solid darken($success, 10%);
    }
 
  }

} // CLOSE FOR DARK MODE
