@import 'constants';

[data-bs-theme='dark'] {
  .card {
    --bs-card-bg: #{$card-bg-dark};
    --bs-list-group-bg: #{$card-bg-dark};
  }

  .list-group {
    --bs-list-group-bg: #{$card-bg-dark};
  }
  
}

[data-bs-theme='light'] {
  .card {
    --bs-card-bg: #{$card-bg-light};
    --bs-list-group-bg: #{$card-bg-light};
  }

  .list-group {
    --bs-list-group-bg: #{$card-bg-light};
  }
  
}
