@import 'constants';

@include color-mode(light) {
  .text-light-white {
    color: $light !important;
  }

  .text-dark-primary {
    color: $dark;
  }

  .fill-primary, .fill-1 {
    fill: $primary;
  }

  .fill-strong-contrast, .fill-2 {
    fill: $white;
    stop-color: $white;
  }

  .fill-contrast {
    fill: $gray-150;
  }

  .stroke-light {
    stroke: $light;
  }

  .btn-rounded {
    color: white;
  }

  .btn-group {
    & button.btn-actions {
      color: $white;
      border-color: darken($primary, 10%);
    }
  }

  .dropdown {
    & .dropdown-item {
      color: $dark;
      &.active, &:active, &:focus, &:hover {
        color: $primary;
      }
    }
  }

  .input-group {
    & .form-control {
      &:focus {
        border-color: $gray-300;
      }
    }
  }

} // CLOSE FOR LIGHT MODE
