@import 'constants';

@include color-mode(light) {
  .text-contrast {
    color: $dark;
  }
  
  .text-light-white {
    color: $light !important;
  }

  .text-dark-primary {
    color: $dark;
  }

  .fill-primary, .fill-1 {
    fill: $primary;
  }

  .fill-strong-contrast, .fill-2 {
    fill: $white;
    stop-color: $white;
  }

  .fill-contrast {
    fill: $body-bg;
  }

  .fill-body-color {
    fill: $body-color;
  }

  .stroke-bg {
    stroke: $body-bg;
  }
  
  .stroke-primary-bg {
    stroke: $primary;
  }

  .stroke-light {
    stroke: $light;
  }

  .btn-rounded {
    &.btn.btn-primary, &.bg-primary {
      color: white;
    }
  }

  .card {
    background-color: $white;
    &.bg-primary {
      color: $white;
    }
  }

  .list-group-item, .dropdown-menu {
    background-color: $white;
    box-shadow: none;
  }

  .btn-group {
    & button.btn-actions {
      color: $white;
      border-color: darken($primary, 10%);
    }
  }

  .dropdown {
    & .dropdown-item {
      color: $dark;
      &.active, &:active, &:focus, &:hover {
        color: $primary;
      }
    }
  }

  .input-group {
    & .form-control {
      background-color: $white;
      &:focus {
        border-color: $gray-300;
      }
    }
  }

  .inner-box-shadow {
    box-shadow: 0px 4px 8px 0px $gray-400;
  }

} // CLOSE FOR LIGHT MODE
