@import './mode-dark.scss';
@import './mode-light.scss';

body {
  overflow: hidden;
  transition: background-color $theme-transition ease;
  &.modal-open #root-container {
    filter: blur(5px);
  }
  & #root-container {
    transition: filter $transition-time ease;
  }
  & .tooltip {
    padding: 0;
    & .tooltip-arrow {
      color: transparent;
      &::before {
        border-color: transparent;
      }
    }
    & .tooltip-inner {
      font-size: 0.75rem;
      border-radius: 0;
    }
  }
}

.text-blue {
  color: $blue;
}

.border-none {
  border: none !important;
}

.fs-18px {
  font-size: 1.125rem !important;
}

.fs-7 {
  font-size: .75rem !important;
}

.fs-8 {
  font-size: .4rem !important;
}

.mt-10 {
  margin-top: $spacer * 10;
}

.border-gray-300 {
  border: 0.5px solid $gray-300;
}

.square {
  width: 12px;
  height: 12px;
}

.dot {
  min-width: 10px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  padding: 0;
}

.minw-12px {
  min-width: 12px;
}

.btn.btn-primary {
  transition: color $theme-transition ease;
  color: var(--bs-body-color);
  font-weight: 600;
  padding: 1.25rem 1.675rem;
  &.disabled, &:disabled {
    color: $gray-100;
  }
  &.active, &:active {
    color: var(--bs-body-color);
    text-decoration: none;
  }
  &.hover, &:hover {
    background-color: darken($primary, 8%);
    border-color: darken($primary, 8%);
  }
}

.btn-link {
  padding: 0 12px;
  font-size: .75rem;
  font-weight: 600;
  text-decoration: none;
  transition: all $transition-time ease;
  &:hover, &:active {
    transform: scale(1.05);
    color: darken($primary, 10%);
  }
}

button.btn-rounded.btn.btn-primary, button.btn-rounded.bg-primary {
  display: flex;
  align-items: center;
  border-radius: $border-radius;
  border: none;
  box-shadow: none;
  height: 2rem;
  font-weight: 600;
  padding: 1.25rem 1.675rem;
  transition: all $transition-time ease;
  &:hover {
    background-color: darken($primary, 8%) !important;
    border-color: darken($primary, 8%) !important;
  }
}

.btn-group {
  & button.btn-actions {
    border: none;
    flex: 1 1 auto;
    cursor: pointer;
    padding: $btn-padding-x;
    text-align: center;
    &:not(:first-child) {
      margin-left: 1px;
    }
    &:not(:last-child) {
      margin-right: 1px;
    }
  }
    
  &.btn-group-action .btn, &.btn-group-action button.btn-actions {
    font-weight: 600;
    box-shadow: none;
    background-color: $primary-darker;
    border-color: $primary-darker;
    transition: all $transition-time ease;
    &:hover {
      background-color: darken($primary-darker, 8%);
      border-color: darken($primary-darker, 8%);
    }
  }
}

.stroke-width-2 {
  stroke-width: 1.5px;
}

.stroke-width-3 {
  stroke-width: 3px;
}

.stroke-width-4 {
  stroke-width: 3.5px;
}

.stroke-width-5 {
  stroke-width: 5px;
}

.stroke-width-28 {
  stroke-width: 28px;
}

.stroke-linecap-round {
  stroke-linecap: round;
}

.stroke-dark {
  stroke: $dark;
}

.stroke-primary {
  stroke: $primary;
}

.fill-success {
  fill: $success;
}

.fill-warning {
  fill: $warning;
}

.fill-danger {
  fill: $danger;
}

.fill-dark {
  fill: $dark;
}

svg {
  & circle, & path, & line {
    transition: fill, stroke $theme-transition ease;
  }
}

.svg-fill-disabled path.fill-contrast {
  fill: $gray-600;
}

.switch {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  width: 2.5rem;
  height: 1.25rem;
  border-radius: 1.25rem;
  padding: 0.25rem;
  background-color: $white;
  border: 1px solid lighten($light, 20%);

  & .handle {
    background-color: $light;
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 0.75rem;
  }

  &:focus {
    box-shadow: 0 0 0 0.2rem rgba($light, 0.25);
  }

  &[data-isswitchon='true'] {
    justify-content: flex-end;
    background-color: $success;
    border: 1px solid lighten($success, 20%);
    & .handle {
      background-color: $white;
    }
    &:focus {
        box-shadow: 0 0 0 0.2rem rgba($success, 0.25);
      }
    }
}

.card {
  transition: background-color $theme-transition ease;
  border: none;
  & .card-header {
    border-bottom: none;
  }
  & .card-footer {
    border-top: none;
  }
}

.dropdown {
  & .dropdown-item {
    font-weight: 500;
    &.active, &:active, &:focus, &:hover {
      color: $primary;
      background-color: unset;
      background-image: unset;
    }
  }
  &.dropdown-disabled {
    cursor: not-allowed;
    color: $gray-600;
  }
  & .btn:first-child:active, & .btn.show {
    box-shadow: none;
  }
}

.overflow-x-ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.scrollbar-container.ps-show-always.ps.ps--active-y > .ps__rail-y {
  opacity: 0.6;
  z-index: 99;
}


.modal.modal-md, .modal.modal-lg, .modal.modal-xl, .modal.modal-xxl {
  & .modal-dialog {
    max-width: 450px;
  }
}

label.form-label {
  margin-bottom: 0;
}

.input-group {
  margin-top: 0.25rem;
  box-shadow: 0px 1px 2px 0px rgba($dark-blue, 0.05);
  & .form-control {
    transition: background-color $theme-transition ease;
    font-size: 14px;
    &.form-control-left {
      cursor: pointer;
      border-right: 0;
      padding-right: 0;
    }
    &.form-control-right {
      border-left: 0;
      padding-left: 0;
    }  
    &.form-control-middle {
      transition: background-color $theme-transition ease;
      border-left: 0;
      padding-left: 0;
      border-right: 0;
      padding-right: 0;
    }
    &:focus {
      box-shadow: 0px 1px 2px 0px rgba($dark-blue, 0.05);
    }
  }
  & .form-control-addon {
    transition: background-color $theme-transition ease;
    &.form-control-addon-disabled {
      background-color: $gray-200;
    }
    &:focus {
      border-color: transparent;
      box-shadow: 0px 1px 2px 0px rgba($dark-blue, 0.05);
    }
    &.form-control-addon-right {
      cursor: pointer;
      border-left: 0;
      padding-top: 0;
      padding-bottom: 0;
      &:hover {
        svg path {
          stroke: darken($primary, 10%);
        }
      }
      & .btn-addon-close {
        cursor: pointer;
        & svg {
          width: 0.675rem;
          height: 0.675rem;
        }
        &:hover {
          & path {
            fill: darken($primary, 10%);
          }
        }
      }
    }
    &.form-control-addon-left {
      border-right: 0;
    }
  }
  &.invalid {
    & .form-control {
      border-color: $danger;
      &:focus {
        border-color: $danger;
        box-shadow: 0px 1px 2px 0px rgba($danger, 0.05);
      }
    }
    & .form-control-addon {
      border-color: $danger;
      &:focus {
        border-color: $danger;
        box-shadow: none;
      }  
    }
  }
}

.qr-container {
  position: relative;
  width: 220px;
  & .qr-cln-logo {
    padding: 0;
    position: absolute;
    top: 42%;
    left: 42%;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    border: 3px solid $white;
    transform: translate3d(-50%, -50%, 0) scale(1);
  }
}

.alert {
  word-break: break-all;
}

.message {
  display: flex;
  align-items: center;
  min-height: 1.5rem;
  height: 1.5rem;
  font-size: 12px;
  font-weight: 600;
  word-break: break-all;
  margin-bottom: 0.5rem;
  &.invalid {
    color: $danger;
  }
  &.pending {
    color: $warning;
  }
  &.success {
    color: $success;
  }  
}

.list-group {
  position: relative;
  overflow: hidden;
  & .list-group-item {
    transition: background-color $theme-transition ease;
    border: none;
    margin-bottom: 1rem;
  }
}

svg.svg-small {
  width: 0.75rem;
}

svg.svg-white {
  path {
    fill: $white;
  }
}

.wallet-card {
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
