@import './mode-dark.scss';
@import './mode-light.scss';

.fs-7 {
  font-size: .75rem !important;
}

.fs-8 {
  font-size: .4rem !important;
}

.mt-10 {
  margin-top: $spacer * 10;
}

.border-gray-300 {
  border: 1px solid $gray-300;
}

.square {
  width: 12px;
  height: 12px;
}

.dot {
  min-width: 10px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  padding: 0;
}

.minw-12px {
  min-width: 12px;
}

.btn-rounded {
  border-radius: $border-radius;
  padding-top: 3px;
  height: 2rem;
}

.btn-group {
  & .btn:not(:last-child):not(.dropdown-toggle), .btn.dropdown-toggle-split:first-child, .btn-group:not(:last-child) > .btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: $border-radius;
  }

  & .btn:nth-child(n + 3), :not(.btn-check) + .btn, .btn-group:not(:first-child) > .btn {
    border-top-right-radius: 0;
    border-bottom-right-radius: $border-radius;
  }
  
  &.btn-group-action .btn {
    font-weight: 700;
    background-color: darken($primary, 10%);
    border-color: darken($primary, 12%);
    &:hover {
      font-weight: 700;
      background-color: darken($primary, 5%);
      border-color: darken($primary, 7%);
    }
  }
}

.btn.btn-primary {
  color: var(--bs-body-color);
  &.disabled, &:disabled {
    color: $gray-600;
  }
  &.active, &:active {
    color: var(--bs-body-color);
    text-decoration: none;
  }
}

.fill-success {
  fill: $success;
}

.fill-warning {
  fill: $warning;
}

.svg-fill-disabled path.fill-contrast {
  fill: $gray-600;
}

.form-switch {
  & .form-check-input {
    background-image: url( "data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%27-4 -4 8 8%27%3e%3ccircle r=%273%27 fill=%27rgba(255,255,255,1)%27/%3e%3c/svg%3e");
  }
  & .form-check-input:focus {
    background-image: url( "data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%27-4 -4 8 8%27%3e%3ccircle r=%273%27 fill=%27rgba(223, 179, 22, 0.5)%27/%3e%3c/svg%3e");
  }
  & .form-check-input:checked {
    background-color: $dark;
    border-color: lighten($primary, 10%);
  }
}

.dropdown {
  & .dropdown-item {
    font-weight: 500;
    &.active, &:active, &:focus, &:hover {
      background-color: unset;
      background-image: unset;
    }
  }
  &.dropdown-disabled {
    cursor: not-allowed;
    color: $gray-600;
  }
  & .btn:first-child:active, & .btn.show {
    box-shadow: none;
  }
}

.overflow-x-ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
