.vscode
node_modules
dist
build
data/bitcoin/regtest
data/app/config.json
data/app/app.config.json
data/lightning/config
data/lightning/lightningd-regtest.pid
data/lightning/regtest/*
data/cln/config
data/lightning/log
data/app/app.config.json
