.vscode
node_modules
dist
build
data/bitcoin/regtest
data/app/store.json
data/app/app.config.json
data/lightning/config
data/lightning/lightningd-regtest.pid
data/lightning/regtest/*
data/app/app.config.json
data/cln/config
