@import '../../styles/bootstrap-custom';
@import '../../styles/constants';
@import '../../styles/shared';
@import '../../styles/animations';

.cards-container {
  height: 67vh;
  margin-bottom: 1.5rem;
}

.list-scroll-container {
  max-height: 28.5rem;
}
