@import '../../../styles/constants.scss';

.header {
  & .header-info-logo {
    height: 5.5rem;
  }
}

.svg-night {
  opacity: 0.7;
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  & path {
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(.4,0,.2,1);  
    fill: $primary;
  }
  &:hover {
    cursor: pointer;
    opacity: 1;
    scale: 1.1;
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(.4,0,.2,1);  
    & path {
      transition-duration: 300ms;
      transition-property: all;
      transition-timing-function: cubic-bezier(.4,0,.2,1);  
      fill: $light-dark;
    }
  }
}

.svg-day {
  opacity: 0.6;
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  & path {
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(.4,0,.2,1);  
    fill: $dark;
  }
  &:hover {
    cursor: pointer;
    opacity: 1;
    scale: 1.1;
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    & path {
      transition-duration: 300ms;
      transition-property: all;
      transition-timing-function: cubic-bezier(.4,0,.2,1);  
      fill: $primary;
    }
  }
}
