@import '../../../styles/constants.scss';

.header {
  & .header-info-logo {
    height: 5.5rem;
  }
}

.svg-night {
  cursor: pointer;
  opacity: 0.7;
  transition: all $transition-time ease-in;
  & path {
    transition: all $transition-time ease-in;
    fill: $primary;
  }
  &:hover {
    opacity: 1;
    scale: 1.1;
    filter: drop-shadow(0px 0px 3px $light-dark)
    drop-shadow(0px 0px 6px  $light-dark)
    drop-shadow(0px 0px 10px $light-dark)
    drop-shadow(0px 0px 20px $light-dark)
    drop-shadow(0px 0px 30px $light-dark);
    & path {
      fill: $light-dark;
    }
  }
}

.svg-day {
  cursor: pointer;
  opacity: 0.6;
  transition: all $transition-time ease-in;
  & line, & circle {
    transition: all $transition-time ease-in;
    stroke: $dark;
    stroke-width: 1.5px;
    stroke-linecap: round;
  }
  &:hover {
    opacity: 1;
    scale: 1.1;
    filter: drop-shadow(0px 0px 20px $primary)
      drop-shadow(0px 0px 30px $primary)
      drop-shadow(0px 0px 40px $primary);
    & line {
      stroke: $primary;
      filter: drop-shadow(0px 0px 5px lighten($primary, 50%));
    }
    & circle {
      stroke: $primary;
      filter: drop-shadow(0px 0px 3px lighten($primary, 50%));
    }
  }
}
