@import '../../../styles/constants.scss';

.channel-scroll-container {
  max-height: 53vh;
  & .progress {
    height: 6px;
  }
  & .btn-sm-svg {
    display: inline-flex;
    align-items: flex-start;
    padding: 0;
    cursor: pointer;
    &:hover {
      svg path {
        stroke: darken($primary, 10%);
      }
    }
  }
}