@import '../../../styles/constants.scss';

.header {
  & .header-info-logo {
    height: 5.5rem;
  }

  & .settings-dropdown {
    & .dropdown-toggle::after {
      display: none;
    }
    & .dropdown-item {
      color: $light;
      &.active, &:active {
        color: $primary;
        text-decoration: none;
        background-color: var(--bs-dropdown-link-active-bg);
        background-image: var(--bs-gradient);
      }
    }
  }
}