@import '../../../styles/constants.scss';

.transaction-placeholder {
  transform-origin: top left;
  margin-bottom: 0.5rem;
  // border-bottom: 0.5px solid $light;
  & .transaction-copy, .transaction-open {
    padding: 0;
    cursor: pointer;
    &:hover {
      svg path {
        stroke: darken($primary, 10%);
      }
    }
  }
}
