@import '../../../styles/constants.scss';

.btc-transaction-placeholder {
  transform-origin: top left;
  & .btc-transaction-detail {
    margin: 0.5rem;
  }
  & .btc-transaction-copy, .btc-transaction-open {
    padding: 0;
    cursor: pointer;
    &:hover {
      svg path {
        stroke: darken($primary, 10%);
      }
    }
  }
}
